.container {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr 1fr;
    grid-template-rows: 0.3fr 2.3fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "masvistas masvistas fav"
      "masvistas masvistas fav"
      ". . .";
  }
  
  .masvistas { grid-area: masvistas; }
  
  .fav { grid-area: fav; }


.oculta{
  display:none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
